* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 98vh;
}

div.formulario {
    border: 1px solid rgb(164, 164, 164);
    height: 450px;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-radius: 20px;
}

div.formulario > div {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.formulario > div > p {
    font-size: 20px;
}

div.formulario > form {
    flex-grow: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 0 0 20px 20px;
}

.campo-email, .campo-senha {
    width: 100%;
    text-align: center;
}

.campo-email > label > p, .campo-senha > label > p {
    font-size: 20px;
    margin-bottom: 10px;
}

input[type="email"], input[type="password"], input[type="text"] {
    width: 80%;
    outline: none;
    padding: 8px;
    border-radius: 0.5rem;
    border: 1px solid rgb(190, 190, 190);
}

input[type="submit"] {
    padding: 20px;
    font-size: 15px;
    cursor: pointer;
    border-radius: 0.5rem;
    border: none;
    background-color: #45a049;
    color: white;
}

.flex-col {
    display: flex;
    flex-direction: column;
    align-items: center;
}

span {
    background-color: rgb(230, 48, 48);
    color: white;
    width: 80%;
    margin: 0.5rem 0;
    padding: 0.2rem;
    border-radius: 0.3rem;
    display: none;
}